*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background-color: #01295F;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 170px;
    background-color: #01295F;
}

.navlist{
    display: flex;
}

/*Navigation items styling and hover*/

li a{
    text-decoration: none;
    color: #FCFCFC;
    font-size: 1.1rem;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: .4s;
    position: relative;
}

li a:hover{
    color: rgb(235, 130, 25);
}

/*Hamburger Menu */

#menu-item{
    cursor: pointer;
    display: none;
}

/*Introduction section styles*/

section{
    padding: 70px 17%;
}

.introduction{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1.5rem;
}

.profilePicture img{
    border-radius: 50%;
    max-width: 100%;
    width: 600px;
    height: auto;
}

#introOne{
    color: #FCFCFC;
}

#introName{
    color: rgb(235, 130, 25);
    text-transform: uppercase;
    font-weight: 700;
}

#introThird{
    color: #FCFCFC;
}

/*Social Media Logo Styles*/

#socialMediaLogos{
    color: #FCFCFC;
    margin: 25px 0;
    margin-right: 20px;
}

#socialMediaLogos:hover{
    transform: scale(1.3);
    transition: .5s;
}

/*Resume Button Styles*/

.resumeButton{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(235, 130, 25);
    margin-top: 10px;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: .5rem;
    color: #FCFCFC;
    text-transform: uppercase;
}

.resumeButton:hover{
    color: #FCFCFC;
    font-weight: 700;
    transform: scale(1.1);
    transition: .7s;
}

/*About Section*/

.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 1.5rem;
    padding-bottom: 10px;
}

.about h2{
    color:rgb(235, 130, 25);
    font-weight: 700;
    font-size: 2.5rem;
}

.about p{
    color:#FCFCFC;
    line-height: 35px;
    font-size: 16px;
}

.about-image img{
    max-width: 100%;
    width: 480px;
    height: auto;
}

/*Skills Section*/

.skills h2{
    color:rgb(235, 130, 25);
    font-weight: 700;
    font-size: 2.5rem;
}

.skills-icons-section{
    margin-top: 25px;
}

.skills-icons{
    color: #FCFCFC;
    padding-right: 5px;
}

.skills-icons-section-two{
    margin-top: 30px;
}

/*Project Section Style*/

.first-project, .second-project, .third-project{
    border: 3px solid rgb(235, 130, 25);
    padding: 20px 5px;
    border-radius: 20px;
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects h2{
    color:rgb(235, 130, 25);
    font-weight: 700;
    font-size: 2.5rem;
}

.projects-set{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    grid-gap: 1rem;
}

.projects-set img{
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 20px;
}

.projects h4{
    color: #FCFCFC;
}

.projects p{
    color: #FCFCFC;
    margin-top: 30px;
}

.project-buttons{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.project-github, .project-live{
    text-decoration: none;
    background-color: rgb(235, 130, 25);
    margin-top: 10px;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: .5rem;
    color: #FCFCFC;
    text-transform: uppercase;
}

/*Media Queries*/

@media (max-width: 1560px){
    header{
        padding: 15px 40px;
    }
}

@media (max-width: 1140px){
    section{
        padding: 50px 8%;
    }

    #menu-item{
        display: initial;
        color: #FCFCFC;
    }

    /*Styling the navigation bar for mobile and tablet*/

    header .navlist{
        position: absolute;
        top: -300px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #01295F;
        transition: 0.4s;
    }

    header .navlist.active{
        top: 100px;
    }

    .navlist a{
        padding: 1.75rem;
        display: block;
    }
}

@media (max-width: 720px){
    header{
        padding: 10px 16px;
    }

    .introduction, .about{
        grid-template-columns: 1fr;
        text-align: center;
    }

    section{
        padding: 150px 7%;
    }

    .profilePicture img{
        width: 80%;
    }

    .about{
        padding-top: 20px;
    }

    .projects{
        padding-top: 10px;
    }

    .skills{
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .social-icons-intro{
        padding-left: 20px;
    }
}